
@font-face { font-family: 'BMDOHYEON'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff'); font-weight: normal; font-style: normal; }
   @font-face { font-family: 'SDKukdetopokki'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SDKukdetopokki.woff') format('woff'); font-weight: normal; font-style: normal; }


*{
    
    font-family: SDKukdetopokki;
}

.notlogin{
    
    
    
    
    color:red;
}

    .title{
        display: inline-block;
        text-align: center;
        margin-left : 70px;
        margin-top: 10px;
        font-size: 40px;
    }
    .title2{
        display: inline-block;
        text-align: center;
        margin-right : 30px;
        margin-top: 40px;
        float:right;
        
        
.wrap{
     text-align: center;
    }

 a.button:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: #337ab7 0 0px 0px 40px inset;
 }
 .schedule{
    display:inline-block;
    width:250px;
 }
        

@font-face { font-family: 'BMDOHYEON'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff'); font-weight: normal; font-style: normal; }
   @font-face { font-family: 'SDKukdetopokki'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SDKukdetopokki.woff') format('woff'); font-weight: normal; font-style: normal; }


*{
    
    font-family: SDKukdetopokki;
}

.notlogin{
    
    
    
    
    color:red;
}
.title{
        display:inline-block;
        text-align: center;
        margin-left : 70px;
        margin-top: 10px;
        font-size: 40px;}
.title2{
        display: inline-block;
        text-align: center;
        margin-right : 30px;
        margin-top: 40px;
    float:right;}

.wrap{
     text-align: center;
    }

 a.button:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: #337ab7 0 0px 0px 40px inset;
 }
 .schedule{
    display:inline-block;
    width:250px;
 }