{% load static %}
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'styles_market-buy-write.css' %}">
</head>
<body>
    <br><br><br>
    <div class="container">
        <form method="POST">
            {% csrf_token %} 
            <blockquote>
                <p>채용 공고</p>
                <h5 class="text-right">
                    🏠Home
                    <span>&gt;</span>취업
                    <span>&gt;</span>일자리 정보
                </h5>
            </blockquote>
            <hr>
            <p>제목</p>
            {{form.title}}
            <br>
            <p>급여
            </p>
            {{form.pay}}
            <p>
            요일
            </p>
            {{form.day}}
            <p>
            시간
            </p>
            {{form.time}}
            <p>
            지역
            </p>
            {{form.locate}}
            <p>내용</p>
            {{form.body}}
            <a href="{% url 'jobapply' %}" class="myButton">취소</a> 
            <input class="myButton" type="submit" value="작성">
        </form>
    </div>
</body>
</html>