{% load static %}

<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'styles_wishwrite.css' %}">
</head>
<body>
    <br><br><br>
    <div class="container">
        <form action="{% url 'wishcreate' %}">
            <blockquote>
                <p>시민의견</p>
                <h5 class="text-right">
                    🏠Home
                    <span>&gt;</span>바란다
                    <span>&gt;</span>시민의견
                </h5>
            </blockquote>
            <hr>
            <p>제목</p>
            <input type="text" class="form-control" name="title">
            <br>
            <p>내용</p>
            <textarea class="form-control" rows="20" name="body"></textarea>
            <br><br>
            <a href="{% url 'wish' %}" class="myButton">취소</a> 
            <input class="myButton" type="submit" value="작성">
                   
        </form>
    </div>
</body>
</html>